<html>
<head>
  <title>Login Page</title>
</head>
<body>
  <div>
    <form action="" method="post">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
		
      <fieldset>
        <legend>Login</legend>
        {{ form.csrf_token }}

        <div>
          {{ form.email.label }}<br>
          {{ form.email }}<br>
        </div>
        <div>
          {{ form.password.label }}<br>
          {{ form.password }}
        </div>
        <div>
          {{ form.remember }}
          {{ form.remember.label }}<br>
        </div>
      </fieldset>
      {{ form.submit }}<br>
    </form>
  </div>
</body>
</html>
